---
import "@fontsource/ubuntu-mono";
import Experience, {
    type ExperienceProps,
} from "../components/experience.astro";

const name = "Jakub Tuzar";
const jobTitle = "Full-stack Developer";

const bio =
    "Full-stack developer specializing in frontend development with TypeScript and modern frameworks. Passionate about crafting intuitive, high-performance user experiences, with a continuous drive for learning and problem-solving. Thrive in dynamic, fast-paced environments.";

const contact = { phone: "+420 777 212 220", email: "jakub.tuzar@gmail.com" };

const education = [
    {
        title: "Bachelor's degree in Mechanical Engineering",
        uni: "CTU in Prague",
    },
    {
        title: "Master's degree in Economics",
        uni: "CTU in Prague",
    },
];

const experience: ExperienceProps[] = [
    {
        company: "Česká spořitelna a.s.",
        start: "October 2022",
        position: "Full-stack Developer",
        description:
            "Contributed to the development of an internet banking application for managing account sales at George. Designed and implemented features to enhance user experience, ensuring a seamless and secure transaction process. Collaborated with cross-functional teams to achieve business goals and deliver a reliable, user-friendly application.",
    },
    {
        company: "Prusa Research",
        start: "September 2021",
        end: "September 2021",
        position: "Data Analyst",
        description:
            "Developed reports and wrote SQL queries to extract and analyze data. Optimized existing SQL queries to improve performance and efficiency, contributing to better decision-making processes.",
    },
    {
        company: "PricewaterhouseCoopers",
        start: "September 2020",
        end: "August 2021",
        position: "Technology Consultant",
        description:
            "Data analysis, business analysis and reporting for clients from the financial sector.",
    },
];

const skills = [
    "TypeScript",
    "React",
    "Angular",
    "REST",
    "Docker",
    "SQL",
    "Neovim",
    "Kafka",
    "CI/CD",
    "NoSQL",
    "C#",
    ".NET",
];

const hobbies = [
    "Tech",
    "Gaming",
    "LEGO (last build - Star Destroyer)",
    "Playing guitar",
];
---

<html class="bg-slate-400">
    <head>
        <meta charset="utf-8" />
    </head>
    <body class="bg-white p-8">
        <div class="border-2 border-black h-full flex flex-col">
            <div class="grid grid-cols-3">
                <div
                    id="avatar"
                    class="border-black border-r-2 border-b-2 col-span-1"
                >
                    <img class="h-full object-cover" src="profile-pic.jpeg" />
                </div>
                <div id="name-and-bio" class="h-full col-span-2">
                    <div
                        class="border-b-black row-span-3 border-b-2 grid grid-rows-2"
                    >
                        <div
                            class="row-span-1 border-b-2 border-black bg-cyan-700 p-4 pl-8"
                        >
                            <h1 class="font-extrabold text-5xl text-white mb-4">
                                {name}
                            </h1>
                            <h2 class="text-2xl text-white">
                                {jobTitle}
                            </h2>
                        </div>
                        <div class="row-span-1">
                            <div class="col-span-1 border-black">
                                <div class="pl-8 pt-4 flex flex-row gap-8">
                                    <div>
                                        <a
                                            class="font-bold"
                                            href={`mailto:${contact.email}`}
                                            >{contact.email}
                                        </a>
                                    </div>
                                    <div>
                                        <p class="font-bold">
                                            {contact.phone}
                                        </p>
                                    </div>
                                </div>
                                <div class="px-8 py-3">
                                    <p class="text-sm">
                                        {bio}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-row flex-wrap grow">
                <div class="flex flex-col basis-1/3 border-r-2 border-black">
                    <div id="skills">
                        <h1
                            class="text-4xl font-bold px-6 py-2 flex items-center border-b-2 border-black"
                        >
                            Skills
                        </h1>
                        <div
                            class="px-8 py-3 col-span-1 border-black border-b-2 gap-8 max-h-44"
                        >
                            <ul class="list-disc grid grid-cols-2 gap-x-4">
                                {
                                    skills.map((s) => (
                                        <li class="text-sm">{s}</li>
                                    ))
                                }
                            </ul>
                        </div>
                    </div>
                    <div id="education">
                        <h1
                            class="text-4xl font-bold px-6 py-2 flex items-center border-b-2 border-black"
                        >
                            Education
                        </h1>
                        <div class="px-8 py-3 border-black border-b-2">
                            <ul class="list-disc gap-4 grid grid-cols-1">
                                {
                                    education.map((e) => (
                                        <li class="text-sm">
                                            <p class="text-sm">{e.title}</p>
                                            <p class="text-xs italic">
                                                {e.uni}
                                            </p>
                                        </li>
                                    ))
                                }
                            </ul>
                        </div>
                    </div>
                    <div id="hobbies">
                        <h1
                            class="text-4xl font-bold px-6 py-2 flex items-center border-black border-b-2"
                        >
                            Hobbies
                        </h1>
                        <div class="px-8 py-3 col-span-1">
                            <ul class="list-disc">
                                {
                                    hobbies.map((h) => (
                                        <li class="text-sm">{h}</li>
                                    ))
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col basis-2/3">
                    <div id="experience">
                        <h1
                            class="text-4xl font-bold px-6 py-2 flex items-center col-span-2 border-b-2 border-black"
                        >
                            Experience
                        </h1>
                        <div
                            class="px-8 py-3 col-span-2 grid grid-cols-1 gap-10"
                        >
                            {experience.map((e) => <Experience {...e} />)}
                        </div>
                    </div>
                </div>
                <div
                    id="footer"
                    class="grow w-full bg-cyan-700 border-black border-t-2"
                >
                </div>
            </div>
        </div>
    </body>
</html>

<style>
    body {
        font-family: "Ubuntu Mono", monospace;
        width: 21cm;
        height: 29.7cm;
        margin: 1cm auto;
    }
</style>
